body, h1, h2, h3, h4, h5, h6{
    color: white;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Arial, sans-serif;
    opacity: 1;
}

.wholePageMain{
    background-color: rgb(33, 46, 65);
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SLKjlZ3ngj0y161la/videoblocks-close-up-on-a-monitor-programmer-code_ht-tbtvsk_thumbnail-full01.png");
    
    height: 100vh;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wholePage{
    background-color: rgb(33, 46, 65);
    
    height: 100vh;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    height: 50px;
    background-color:  rgba(33, 46, 65, .95);
    border-bottom: 1px solid rgba(221, 88, 48, 1);
    overflow: auto;  
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

header > ul > li {
    list-style-type: none;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.Title {
    text-decoration: none;
    color:white;
    align-items: center;
    margin: 10px;
}

header > ul > li > a {
    text-decoration: none;
    color: white;
}

header > ul > li > a:hover {
    color: rgb(221, 88, 48);
}

content {
    display: flex;

    flex: 1 1 auto;

    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    
    height: auto;
    width: auto;
    margin: 30px;
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 40%;
    height: 50%;

    background-color:  rgba(33, 46, 65, .75);
    border: 1px solid rgb(221, 88, 48);
}


footer {
    display: flex;
    
    align-items: center;

    height: 10%;

    background-color: rgb(33, 46, 65);
}

footer > h1 {
    margin-left: 10%;
}

.imageSection{
display:inline-flex;
}

.image{
    margin: 5px;
    opacity: .4;
}

.image:hover{
    margin: 8px;
    opacity: 1;
}


.leftBar {
    height: 100%;
    width: 250px;
    /* position: fixed; */
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(33, 46, 65, .95);
    overflow-x: hidden;
    padding-top: 20px;
}

.leftBar div {
    padding: 6px 8px 6px 16px;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    text-align: left;
}


.leftBar> div:hover {
    color:  rgb(221, 88, 48);      
}

/* .leftBar> div #Contact:hover{
    color:  rgb(221, 88, 48);      
} */

.AboutItem {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 60%;
    height: 70%;

    background-color:  rgba(33, 46, 65, .75);
    border: 1px solid rgb(221, 88, 48);
}
